@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', serif;
  justify-content: center;
  align-items: center;
  color: #efefef;
  display: flex;
}

div.background {
  background-image: url('/assets/img/background.jpg');
  background-position: center;
  filter: saturate(0%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

div.container {
  box-shadow: 0px 0px 4px black;
  border: 1px solid #4a4a4a;
  background-color: #1a1a1a;
  border-radius: 4px;
  padding: 20px;
  width: 532px;

  div.details {
    flex-direction: row;
    display: flex;

    img {
      width: 128px;
      height: 128px;
      aspect-ratio: 1 / 1;
      border-radius: 4px;
      border: 1px solid #4a4a4a;
      pointer-events: none;
    }

    div.about {
      display: flex;
      margin-left: 20px;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-weight: 200;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  ul.socials {
    display: flex;
    list-style: none;
    margin-top: 20px;
    justify-content: space-between;

    li {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2a2a2a;
        border: 1px solid #4a4a4a;
        text-decoration: none;
        border-radius: 2px;
        color: #efefef;
        width: 120px;
        height: 32px;
      }

      a:hover {
        background-color: #3a3a3a;
        border: 1px solid #6a6a6a;
      }

      i,
      img {
        margin-right: 5px;
        width: 16px;
      }
    }
  }
}

@media only screen and (max-width: 632px) {
  div.container {
    width: 80%;

    div.details {
      flex-direction: column;
      align-items: center;

      div.about {
        align-items: center;
        margin-top: 15px;
        margin-left: 0px;
      }
    }

    ul.socials {
      flex-direction: column;

      li {
        margin-bottom: 20px;

        a {
          width: 100%;
          height: 48px;
        }
      }

      li:nth-child(4) {
        margin-bottom: 0px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  div.container > div.details > div.about > h1 {
    font-size: 20px;
  }

  div.container > div.details > div.about > h2 {
    font-size: 15px;
  }
}
